
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /resources/{resourceId} {
      allow get: if resource.data.status == 'approved';
      allow list: if request.auth != null;
      allow create: if request.auth != null && 
                      request.resource.data.uploaderId == request.auth.uid &&
                      request.resource.data.status == 'pending';
      allow update: if request.auth != null && (
        (resource.data.uploaderId == request.auth.uid) || 
        (get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'Admin')
      );
    }
    
    match /metadata/{docId} {
      allow read;
      allow update: if request.auth != null;
    }
  }
}
