rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isUserRole(role) {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == role;
    }

    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }

    match /metadata/{docId} {
      allow read;
      allow create, update: if request.auth != null;
    }

    match /resources/{resourceId} {
      // Any user can get a resource if it's approved.
      allow get: if resource.data.status == 'approved';

      // Admins can see all documents.
      // Anyone can query for approved documents.
      allow list: if isUserRole("Admin") || request.query.get("status") == "approved";
      
      // Admins and Students can create resources.
      allow create: if isUserRole("Admin") || isUserRole("Student");

      // Only Admins can update a resource (e.g., to approve or reject it).
      allow update: if isUserRole("Admin");

      // Only Admins or the original uploader can delete a resource.
      allow delete: if isUserRole("Admin") || request.auth.uid == resource.data.uploaderId;
    }
  }
}
